<%# add navigation links to this file %>

<li><%= link_to 'Home', page_path('about') %></li>
  <li class="divider"></li>
<li><%= link_to 'News', page_path('about') %></li>
  <li class="divider"></li>
<li><%= link_to 'Tour', page_path('about') %></li>
  <li class="divider"></li>
<li><%= link_to 'Music', page_path('about') %></li>
  <li class="divider"></li>
<li><%= link_to 'About', page_path('about') %></li>
  <li class="divider"></li>
<li><%= link_to 'Store', page_path('about') %></li>
