<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Foundation" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Foundation" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>

      <section id="homepage-hero">
        <div class="row">
          <div class="medium-7 large-6 columns">
            <h1>Foundation</h1>
            <br>
            <h3>The most advanced responsive<br class="hide-for-small">front-end framework in the world.</h3><br>
          </div>
        </div>
        <div class="row">
          <div class="large-4 medium-6 columns">
            <div class="large-4 medium-6 columns">
              <a class="large button hide-for-small" href="develop/download.html">Download Foundation 5</a>
              <a class="small button show-for-small" href="develop/download.html">View Download Options</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-12 columns">
              <div id="watch">
                <section id="stargazers">
                  <a href="http://github.com/zurb/foundation">17.4k stargazers</a>
                </section>
                <section id="twitter">
                  <a href="http://twitter.com/zurbfoundation">@ZURBfoundation</a>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="floatingyeti">
          <img src="assets/images/hero-image.svg">
        </div>
      </section>

    </main>
  </body>
</html>
